page-setting {
  ion-content {
    background-color: #FAFAFA !important;

    ion-item-divider {
      background-color: #f4f4f4 !important;
    }

    .signOut {
      text-align: center;
      color: #F53D3D;
    }
  }
}
