page-setting {
  ion-content {
    background-color: #fafafa !important;

    .image-input {
      display: none;
    }

    .avatar {
      height: 96px;
      width: 96px;
      margin: 14px calc(50% - 48px) 0px calc(50% - 48px);
      border-radius: 48px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: relative;
      overflow: hidden;

      .user-avartar-cover {
        width: 100%;
        height: 100%;
        display: inline-block;
      }

      .avatar-hint {
        height: 24px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        background-color: #000000;
        color: #ffffff;
        text-align: center;
        font-size: 0.9em;
        line-height: 24px;
      }
    }

    ion-item-divider {
      background-color: #fafafa !important;
    }

    .signOut {
      text-align: center;
      color: #f53d3d;
    }
  }
}
