page-home {
  .badge {
    height: 20px;
    min-width: 20px;
    border-radius: 10px;
    background-color: red;
    color: white;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
  }

  .scroller {
    height: 100%;
    overflow: scroll;
  }

  .movie-item {
    padding: 16px 0px 0px 0px !important;

    .title {
      font-size: 18px;
      color: black;
    }

    .rate {
      color: #e09015;
      font-size: 12px;
      padding-top: 4px;

      .stars {
        color: #ff9800;
      }

      .rate-val {
        padding-left: 8px;
      }
    }

    .no-rate {
      color: #757575;
      font-size: 12px;
      padding-top: 4px;
    }

    .genres {
      color: #757575;
      font-size: 12px;
      padding: 4px 0px 16px 0px;
    }

    .normal-button {
      min-width: 60px;
      height: 28px;
      font-size: 12px;
      margin-top: 0px;
    }
  }

  .poster-container {
    min-width: 72px !important;
    margin: 0px 16px !important;

    .poster {
      width: 72px !important;
      height: 96px !important;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 0px !important;
      margin-bottom: 16px !important;
    }
  }
}
