<ion-header>
  <ion-navbar color="primary">
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoNotes()">
        <ion-icon name="notifications" color="text-primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let movie of movies; let i = index">
    <button ion-item class="movie-item" (click)="gotoDetail(i)">
      <div class="poster-container" [class.first-poster-container]="i == 0" item-left>
        <div class="poster" [style.background-image]="'url(' + movie.images.medium + ')'"></div>
      </div>
      <div class="title">{{movie.title}}</div>
      <div class="star" *ngIf="movie.rating.average > 0">{{movie.rating.average}}</div>
      <div *ngIf="movie.rating.average == 0">暂无评分</div>
    </button>
  </div>
</ion-content>
