<ion-header>
  <ion-navbar color="primary">
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoNotes()">
        <ion-icon name="notifications" color="text-primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngFor = "let movie of movies">
    <ion-item>
      <ion-thumbnail item-left>
        <img class="poster" src="{{movie.imgUrl}}">
      </ion-thumbnail>
      <p class="title">{{movie.title}}</p>
      <p class="star" *ngIf="movie.star!=null">{{movie.star}}</p>
      <p *ngIf="movie.star==null">暂无评分</p>
    </ion-item>
  </ion-list>
</ion-content>
