<ion-header>
  <ion-navbar color="primary">
    <ion-title>首页</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="gotoNotes()">
        <ion-icon name="notifications" color="text-primary"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngFor="let movie of movies; let i = index">
    <button ion-item class="movie-item" (click)="gotoDetail(i)">
      <div class="poster-container" item-left>
        <div class="poster" [style.background-image]="'url(' + movie.images.medium + ')'"></div>
      </div>
      <div class="title">{{movie.title}}</div>
      <div class="rate" *ngIf="movie.rating.average > 0">
        <span class="stars" *ngFor="let star of movie.stars">
          <ion-icon name="star" *ngIf="star == 2"></ion-icon>
          <ion-icon name="star-half" *ngIf="star == 1"></ion-icon>
          <ion-icon name="star-outline" *ngIf="star == 0"></ion-icon>
        </span>
        <span class="rate-val">{{movie.rating.average}}</span>
      </div>
      <div class="no-rate" *ngIf="movie.rating.average == 0">暂无评分</div>
      <div class="genres">
        <span *ngFor="let genre of movie.genres">{{genre}} </span>
      </div>
      <button ion-button item-right class="normal-button" (click)="buyTicket(i); $event.stopPropagation()">购 票</button>
    </button>
  </div>
</ion-content>
