<ion-header>
  <ion-navbar color="primary">
    <ion-title>影院排片</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="scroller" (scroll)="scroll($event)">
    <div class="select-movie">
      <div class="movie" *ngFor="let movie of movies" [style.background-image]="'url(' + movie.image + ')'"></div>
    </div>
    <div *ngFor="let showtime of showtimes; let i = index">
      <button ion-item>
        <div class="title">{{showtime.preciseTime}}</div>
        <div class="subtitle">{{showtime.date}}</div>
        <div item-right>
          <span class="cost">{{showtime.cost}}</span>
          <span class="yuan">元</span>
        </div>
      </button>
    </div>
  </div>
</ion-content>
