page-search {
  ion-searchbar {
    padding: 0 !important;
  }

  ion-list {
    padding: 16px 0;

    button {
      width: 24px;
      height: 24px;
      position: absolute !important;
      right: 16px !important;
    }

    .avatar {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }

}
