<ion-content padding class='login-content'>
  <div class="header-logo" padding>
    <img src="../../assets/logo.png"/>
  </div>
  <!-- 登录 -->
  <ion-card *ngIf="user == null">
    <div class="header">欢迎回来</div>
    <button class="fab" ion-button icon-only color="secondary" round (click)="gotoRegister()">
      <ion-icon md="md-person-add" color="text-primary"></ion-icon>
    </button>
    <div padding>
      <ion-item class="input-container">
        <ion-label floating>用户名</ion-label>
        <ion-input type="text" [(ngModel)]="loginUsername"></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label floating>密 码</ion-label>
        <ion-input type="password" [(ngModel)]="loginPassword"></ion-input>
      </ion-item>
    </div>
    <div class="normal-button-container" padding>
      <button class="normal-button" ion-button color="primary">登 录</button>
    </div>
  </ion-card>
  <!-- 注册 -->
  <ion-card *ngIf="user != null">
    <div class="header">嘿，新朋友！</div>
    <button class="fab" ion-button icon-only color="secondary" round (click)="gotoLogin()">
      <ion-icon md="md-log-in" color="text-primary"></ion-icon>
    </button>
    <div padding>
      <ion-item class="input-container">
        <ion-label floating>用户名</ion-label>
        <ion-input type="text" value=""></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label floating>密 码</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
      <ion-item class="input-container">
        <ion-label floating>确认密码</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </div>
    <div class="normal-button-container" padding>
      <button class="normal-button" ion-button color="primary">注 册</button>
    </div>
  </ion-card>
  <!-- footer -->
  <div class="footer">© Beaver Movie 2017</div>
</ion-content>
