page-history {
  .container {
    background-color: #fafafa;
    height: 100%;

    .segment {
      background-color: #ffffff;
    }

    .type-container {
      padding-top: 16px;

      ion-card {
        position: relative;
        margin: 0px 16px 16px 16px !important;
        width: calc(100% - 32px) !important;

        .poster {
          width: 108px;
          height: 148px;
          display: inline-block;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          margin-bottom: -5px;
        }

        .info {
          position: absolute;
          display: inline-block;
          padding: 0px 16px;
          top: 50%;
          transform: translateY(-50%);
          max-width: calc(100% - 124px);

          .title {
            font-size: 24px;
            color: white;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          .sub-title {
            padding-top: 4px;
            color: white;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }
    }
  }
}
