<ion-header>
  <ion-navbar color="primary">
    <ion-title>我的影券</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-segment [(ngModel)]="tickets">
      <ion-segment-button value="type1">
        我看过的
      </ion-segment-button>
      <ion-segment-button value="type2">
        待使用
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="tickets">
      <ion-list *ngSwitchCase="'type1'">
        <div class="type-container">
          <div *ngFor="let movie of movies; let i = index">
            <ion-card padding [style.background-color]="getColor(i)">
              <div class="poster" [style.background-image]="'url(' + movie.image + ')'"></div>
              <div class="info">
                <div class="title">{{movie.title}}</div>
                <div class="sub-title">金逸国际影城</div>
                <div class="sub-title">11排5号</div>
                <div class="sub-title">2017年6月5日 13:58-15:47</div>
              </div>
            </ion-card>
          </div>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'type2'">
        <div class="type-container">
          <div *ngFor="let movie of futureMovies; let i = index">
            <ion-card padding [style.background-color]="getColor(i)">
              <div class="poster" [style.background-image]="'url(' + movie.image + ')'"></div>
              <div class="info">
                <div class="title">{{movie.title}}</div>
                <div class="sub-title">金逸国际影城</div>
                <div class="sub-title">11排5号</div>
                <div class="sub-title">2017年6月5日 13:58-15:47</div>
              </div>
            </ion-card>
          </div>
        </div>
      </ion-list>
    </div>
  </div>
</ion-content>
