page-history {

  .type-container {
    background-color: #fafafa;
    padding-top: 16px;

    ion-card {
      position: relative;
      margin: 0px 16px 16px 16px !important;
      width: calc(100% - 32px) !important;

      .poster {
        width: 108px;
        height: 148px;
        display: inline-block;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: -5px;
      }

      .info {
        position: absolute;
        display: inline-block;
        padding: 0px 16px;
        top: 50%;
        transform: translateY(-50%);

        .title {
          font-size: 24px;
          color: white;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          max-width: calc(100% - 30px);
        }

        .sub-title {
          padding-top: 4px;
          color: white;
          font-size: 14px;
        }
      }
    }
  }
}
