<ion-header>
  <ion-navbar color="primary">
    <ion-title>推荐</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="poster-container">
    <ion-slides pager>
      <ion-slide *ngFor="let article of articles; let i = index">
        <div class="poster" [style.background-image]="'url(' + article.imgUrl + ')'"></div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="article-container" *ngFor="let article of articles">
    <ion-card>
      <div class="article-header">
        <p class="label">{{article.label}}</p>
        <p class="title">{{article.title}}</p>
        <div class="article-img" [style.background-image]="'url(' + article.imgUrl + ')'"></div>
      </div>
      <p class="content">{{article.summary}}</p>
    </ion-card>
  </div>
</ion-content>
