page-movie-detail {

  .movie-info-container {
    // height: 59vw;
    overflow: scroll;

    .bg-img {
      height: 59vw;
      background-size: cover;
      overflow: hidden;
      background-position: center;
      filter: brightness(60%) blur(30px);
      -webkit-filter: brightness(60%) blur(30px);
      -moz-filter: brightness(60%) blur(30px);
      -ms-filter: brightness(60%) blur(30px);
    }

    .movie-detail-container {
      position: absolute;
      top: 0px;
      padding: 5vw;
      height: 59vw;
      width: 100%;

      .poster {
        height: 49vw;
        width: 35vw;
        background-size: 35vw 49vw;
        background-repeat: no-repeat;
        border: 1px solid white;
        display: inline-block;
      }

      .movie-detail {
        width: 45vw;
        display: inline-block;
        vertical-align: top;
        padding-left: 5vw;
        color: white;

        .title {
          font-size: 22px;
        }

        .original_title {
          padding: 6px 0px 24px 0px;
        }

        .rating {
          padding-top: 8px;

          .stars {
            color: #ff9800;
          }
        }

      }
    }

    .actor-info-container {
      height: 700px;
    }
  }

  .buy-ticket-button {
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0px;
    background-color: #00bcd4;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 56px;
    letter-spacing: 2px;
  }
}
