page-movie-detail {

  .movie-info-container {
    height: 100%;

    .bg-img {
      height: 60vw;
      background-size: cover;
      overflow: hidden;
      background-position: center;
      filter: brightness(60%) blur(30px);
      -webkit-filter: brightness(60%) blur(30px);
      -moz-filter: brightness(60%) blur(30px);
      -ms-filter: brightness(60%) blur(30px);
    }

    .movie-detail-container {
      position: absolute;
      top: 0px;
      padding: 16px;
      height: 60vw;
      width: 100%;

      .poster {
        height: 50vw;
        width: 35vw;
        background-size: 35vw 50vw;
        background-repeat: no-repeat;
        border: 1px solid white;
        display: inline-block;
      }

      .movie-detail {
        width: 45vw;
        display: inline-block;
        vertical-align: top;
        padding-left: 5vw;
        color: white;

        .title {
          font-size: 22px;
        }

        .genres {
          padding-top: 8px;
        }

        .original-title {
          padding-top: 8px;
        }

        .rating {
          padding-top: 8px;

          .stars {
            color: #ff9800;
          }
        }

      }
    }

    .divider {
      height: 16px;
      background-color: #f5f5f5;
    }

    .cast-info-container {
      padding: 16px;

      .title {
        font-size: 18px;
        font-weight: 500;
        padding-bottom: 12px;
      }

      .cast {
        width: 56px;
        display: inline-block;
        margin: 0px 16px 16px 0px;
        vertical-align: top;

        .cast-avatar {
          height: 56px;
          border-radius: 28px;
          background-size: cover;
          overflow: hidden;
          background-position: center;
          margin-bottom: 8px;
        }

        .name {
          font-size: 8px;
          text-overflow: ellipsis;
          text-align: center;
          overflow: hidden;
          white-space: nowrap;
        }

        .identity {
          text-align: center;
          font-size: 6px;
          color: rgb(114, 114, 114);
        }
      }
    }
  }

  .discribe-container {
    padding: 16px;

    .title {
      font-size: 18px;
      font-weight: 500;
      padding-bottom: 8px;
    }

    .summary {
      color: rgb(114, 114, 114);
    }
  }

  .place-holder {
    height: 56px;
  }

  .buy-ticket-button {
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    background-color: #00bcd4;
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    line-height: 56px;
    letter-spacing: 2px;
  }
}
