<ion-header>
  <ion-navbar color="primary">
    <ion-title>消息中心</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="scroller">
    <div *ngFor="let notification of notifications" ion-item class="item">
      <div class="image" [style.background-image]="'url(' + notification.image + ')'" item-left></div>
      <div>
        <div class="title" *ngIf="notification.type == 'system'">系统消息</div>
        <div class="title" *ngIf="notification.type == 'invitation'">好友邀请</div>
        <div class="title" *ngIf="notification.type == 'friend'">好友申请</div>
        <span class="content">{{notification.message}}</span>
      </div>
      <div class="actions" *ngIf="notification.type != 'system'">
        <button ion-button clear (click)="agree(notification)">同意</button>
        <button ion-button clear (click)="reject(notification)">拒绝</button>
      </div>
    </div>
    <div class="no-notifications" *ngIf="notifications.length == 0">暂时没有任何通知...</div>
  </div>
</ion-content>
