page-contact {
  ion-content {
    background-color: #fafafa !important;

    .avatar-container {
      text-align: center;
      padding: 16px 0px;

      .avatar {
        height: 80px;
        width: 80px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 40px;
      }
    }

    ion-item-divider {
      background-color: #fafafa !important;
    }

    ion-input {
      input {
        opacity: 1 !important;
      }
    }

    .bottom-line {
      border-bottom: 1px solid #dddddd;
    }

    .signOut {
      text-align: center;
      color: #f53d3d;
    }
  }
}
