page-contact {
  ion-content {
    background-color: #FAFAFA !important;

    .avatar-container {
      height: 60px;
    }

    ion-item-divider {
      background-color: #fafafa !important;
    }

    ion-input {
      input {
        opacity: 1 !important;
      }
    }

    .bottom-line {
      border-bottom: 1px solid #dddddd;
    }

    .signOut {
      text-align: center;
      color: #f53d3d;
    }
  }
}
