page-cinema {
  .scroller {
    height: 100%;
    overflow: scroll;

    .item-inner {
      border-bottom: 1px solid #dedede !important;

      .cinema-name {
        font-size: 18px;
        font-weight: 500;
      }

      .cinema-info {
        color: #727272;
        font-size: 14px;
        padding-top: 4px;
      }
    }
  }
}
