page-showseat {

  .container {
    background-color: #fafafa;
    height: calc(100% - 56px);
    overflow: scroll;

    .cinema-name {
      font-size: 18px;
      font-weight: 500;
      padding: 16px 16px 8px 16px;
    }

    .start-time {
      padding-top: 8px;
      color: #757575;
      padding: 0px 16px 16px 16px;
    }

    .seats-container {
      background-color: #eeeeee;
      overflow: scroll;

      .screen {
        background: #e0e0e0;
        width: 24vw;
        height: 24px;
        line-height: 24px;
        text-align: center;
        margin: 0 auto 8px auto;
      }

      .seats {
        padding: 16px;

        .row {
          text-align: center;
          margin-bottom: 14px;
          display: block;

          .seat {
            display: inline-block;
            height: 32px;
            width: 32px;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            background-color: #ffffff;
            margin-right: 14px;
            border: 1px solid #e0e0e0;
          }

          .no-seat {
            opacity: 0;
          }

          .occupied {
            background-color: #f44336;
          }

          .selected {
            background-color: #4caf50;
          }
        }
      }
    }
  }

  .confirm-button {
    width: 100%;
    height: 56px;
    position: absolute;
    bottom: 0px;
    z-index: 100;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 56px;
    letter-spacing: 2px;
    border-top: 1px solid #e0e0e0;
  }

  .aa-pay {
    color: #00bcd4;
    width: 49%;
    display: inline-block;
  }

  .direct-pay {
    background-color: #00bcd4;
    color: #ffffff;
    width: 49%;
    display: inline-block;
  }

  .aa-disable {
    color: #999999;
  }

  .direct-disable {
    background-color: #999999;
  }
}
