page-friends {
  ion-list {
    margin: 0 16px 16px 16px !important;
    border-bottom: 1px solid #dedede;
  }

  .username {
    font-size: 1.1em;
  }

  .button {
    position: fixed;
    top: 72px;
    right: 16px;
    width: 20%;
    height: 36px;
    font-size: 1.8rem;
    font-weight: 500;
    text-align: center;
    line-height: 36px;
    letter-spacing: 2px;
  }

}
